# Цей гітігнор цілком і повністю було запозичено з інтернетів

*.tfstate
*.tfstate.backup
*.tfstate.tmp
*.tfstate.*.backup
terraform.tfstate.d/

crash.log
crash.*.log

.terraform/

*.tfplan

terraform.tfvars
*.tfvars
*.auto.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

*.pem
*.key
*.pfx
*.cer
*.crt
*.env
.env
.env.*
*secret*.json
*secrets*.json
azure*.tfvars
arm*.tfvars

*.log
*.tmp
*.bak
.DS_Store
Thumbs.db
